@import url(https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


body {
    background-image: url(media/ALMD_wallpaper_16.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 1rem;
    line-height: 120%;
    font-family:verdana, sans-serif;
}

h1 {
    color: rgb(192, 194, 192);
}

h2 {
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    flex-direction: row;
    li {
        list-style-type: none;
        padding: 10px;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
}

header {
            background: rgb(106, 164, 240);
            height: 100%;
}

footer {
            background: rgb(106, 164, 240);
            height: 100%;
        }

.one {
            flex: 1 1 100;
        }
        
.two {
            flex: 1 1 50;
        }
.three {
            flex: 1 1 50;
        }

        .auto-grid {
            --auto-grid-min-size: 20rem;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 10fr));
            grid-gap: 15px;
        }
        
        .type1 {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #d4faf5;
        }
        
        .type2 {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #e1faa6;
        }
        
        .box {
            display: flex;
            font-size: 1.2rem;
            background: transparent;
            color: #c38080;
        }
        .one {
            flex: 1 1 auto;
        }
        
        .two {
            flex: 1 1 auto;
        } 

        
        .article {
            padding: 10px;
            margin: 20px;
        }
        
        .ul {
            font-size: 1.0rem;
            background: transparent;
            color: #000000;
        }
        
        .li {
            padding: 5rem 1rem;
            text-align: left;
            font-size: 0.6rem;
            background: #a3dcf7;
            color: #000000;
        }
        
        .p {
            color: rgb(255, 255, 255);
            font-weight: bold;
        }
        